body {
    font-family: Arial, sans-serif;
}

header,
footer {
    text-align: center;
    padding: 10px;
}

#comics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 600px;
    overflow-y: auto;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

#comics-container div {
    margin: 10px;
    text-align: center;
}

.comic {
    width: 200px;
    /* Fixed width for each comic */
    height: 300px;
    /* Fixed height for each comic */
    margin: 10px;
    border: 1px solid #ccc;
    /* Optional: adds a border */
    overflow: hidden;
    /* Ensures the content doesn't overflow the container */
    text-align: center;
}

.comic img {
    width: 100%;
    /* Makes the image take full width of the container */
    height: 80%;
    /* Scales the height to maintain aspect ratio */
}

.comic h3 {
    margin-top: 10px;
}

form {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bttn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}